<!DOCTYPE html>
<html lang="en">
<head>
{% include head-meta.html %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/zortez.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}?v=20260821-2">
</head>
<body>
{% include nav.html %}

{{ content }}

{% include footer.html %}

{% include zortez-assistant.html %}

<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
<script src="{{ '/assets/js/zortez.js' | relative_url }}?v=20260821-2" defer></script>
</body>
</html>
